:root {
  --main-bg-color: #1A1A1A;
  --feedback-bg-color: #4D4D4D;
  --buttons-bg-color: #B71B26;
  --h-and-border: #C1A07D;
  --main-color-for-text: #FFFFFF;
}


@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/SofiaSansCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Sofia Sans';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/SofiaSansCondensed-BoldItalic.ttf');
}

@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/SofiaSansCondensed-Light.ttf');
}

html {
  font-family: 'Sofia Sans';
  font-weight: normal;
  color: var(--main-color-for-text) !important;
  overflow-x: hidden;
}


* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: var(--main-color-for-text) !important;
  text-decoration: none !important;
  cursor: pointer;
}

span, p, h2 {
  color: var(--main-color-for-text);
}

section, body {
  background: #1A1A1A;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.main--margin {
  margin: 3% 0;
}

.main__button {
  background: none;
  font-family: 'Sofia Sans';
  font-weight: 200;
  color: var(--main-color-for-text);
  padding: 5px 15px;
  border: none;
  transform: skew(10deg);
  cursor: pointer;
}

.container__for__main__button {
  border: var(--h-and-border) solid 1px;
  transform: skew(-10deg);
  background: none;
  display: flex;
  justify-content: center;
  max-width: 40%;
  cursor: pointer;
}

.color__for__banner__button:hover {
  background: var(--h-and-border);
}